.textoderecha {
    text-align: right;
}

table, tr, th, td, caption{
    border: 1px solid black;
    background-color: rgb(69, 156, 69);
    padding: 5px;
}

th, caption {
    background-color: rgb(125, 218, 101)
}

td {
    background-color: rgb(164, 228, 148)
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(238, 238, 238);
    text-align: center;
}

